p {
    text-align: right;
}
table {
    background-color: rgb(4, 4, 44);
    border-radius: 10px;
    padding: 5px;
    color: white;
}

td {
   
    justify-content: center;
    align-items: center;
}

button {
    font-size: 2em;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    background-color:  rgb(64, 17, 196);
    color: white;
}

p {
    margin: 0px;
    font-size: 2em;
}

.number, #equal {
    background-color: rgb(8, 217, 245);
}



